<nav class=" grey darken-4  " role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
        <img src="<%= image_url 'senderclogo.png'%>"></img>  </a>


      <ul class="right hide-on-med-and-down">
        <li>

          <% if current_user %>
            <a href="#"><%= current_user.email %></a>
          <% else  %>
            <a href="<%= url_for '/magic_links/new' %>">Sign In</a>
          <% end  %>

        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <ul id="nav-mobile" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src=" ">
    </div>
    <a href="#user"><img class="circle" src=" "></a>
    <a href="#name"><span class="white-text name">John Doe</span></a>
    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
